{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet"
                  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                  crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                    crossorigin="anonymous"></script>
            <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}" />
            <title>Edit Profile</title>
        </head>
        <body>
            <div class="form-content">
                <form id="profile_form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="photo">
                        <img src="{{ user.profile.image.url }}" width="200px" />
                    </div>
                    {{ profile_form.image|as_crispy_field }}
                    {{ profile_form.bio|as_crispy_field }}
                    <div class="line"></div>
                    {{ user_form|crispy }}
                    <div class="line"></div>
                    {{ profile_form.tg_url|as_crispy_field }}
                    {{ profile_form.youtube_url|as_crispy_field }}
                    <button type="submit" class="btn btn-warning">Save Changes</button>
                </form>
            </div>
        </body>
    </html>
{% endblock content %}
