{% extends 'base.html' %}
{% block head %}
    <style>
    input[type=text]:focus, input[type=password]:focus {
        border: none;
        background-color: #928374;
        color: #fbf1c7;
        outline: none;
    }
    input[type=text], input[type=password] {
        border: none;
        background-color: #665c54;
        color: #ebdbb2;
    }
    </style>
{% endblock head %}
{% block content %}
    <div class="info_block">
        {% load crispy_forms_tags %}
        <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-warning" type="submit">Log In</button>
        </form>
    </div>
{% endblock %}
