{% extends "base.html" %}
{% block head %}
    <style>
    input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
        border: none;
        background-color: #928374;
        color: #fbf1c7;
        outline: none;
    }
    input[type=text], input[type=password], input[type=email] {
        border: none;
        background-color: #665c54;
        color: #ebdbb2;
    }
    </style>
{% endblock head %}
{% block content %}
    <div class="info_block">
        {% load crispy_forms_tags %}
        <!--Register-->
        <div class="container py-5">
            <h1>Register</h1>
            <form method="post">
                {% csrf_token %}
                {{ register_form|crispy }}
                <button class="btn btn-warning" type="submit">Register</button>
            </form>
            <p class="text-center">
                If you already have an account, <a href="{% url 'users:login' %}" style="color: yellow;">login</a> instead.
            </p>
        </div>
    </div>
{% endblock %}
