{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/users_css/edit_profile.css' %}" />
    <title>Edit Profile</title>
{% endblock head %}
{% block content %}
    <div class="info_block">
        <form id="profile_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="photo">
                <img src="{{ user.profile.image.url }}" width="200px" />
            </div>
            {{ profile_form.image|as_crispy_field }}
            {{ profile_form.bio|as_crispy_field }}
            <div class="line"></div>
            {{ user_form|crispy }}
            <div class="line"></div>
            {{ profile_form.tg_url|as_crispy_field }}
            {{ profile_form.youtube_url|as_crispy_field }}
            <button type="submit" class="btn btn-warning">Save Changes</button>
        </form>
    </div>
{% endblock content %}
