{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/users_css/profile.css' %}">
    <title>Profile Page</title>
{% endblock head %}
{% block content %}
    <div class="info_block">
        <div class="photo">
            <img src="{{ user.profile.image.url }}" width="200px" />
        </div>
        <div class="info">
            <div class="username">
                <b>{{ user.username }}</b>
                {% if username.profile.tg_url or username.profile.youtube_url %}
                    <div class="social">
                        {% if username.profile.tg_url %}
                            <a class="bi bi-telegram" href="{{ user.profile.tg_url }}"></a>
                        {% elif username.profile.youtube_url %}
                            <a class="bi bi-youtube" href="{{ user.profile.youtube_url }}"></a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="line"></div>
            <div class="bio">
                <b>Bio:</b> {{ user.profile.bio }}
            </div>
            <div class="posts_list">
                <div class="user_posts"><b>User posts:</b></div>
            </div>
        </div>
    </div>
{% endblock content %}
