{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/users_css/user_profile.css' %}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Profile Page</title>
{% endblock head %}
{% block content %}
    <div class="container">
        <div class="left_block">
            <div class="photo">
                <img src="{{ username.profile.image.url }}" width="200px" />
            </div>
            <div class="username">
                <b>{{ username.username }}</b>
                {% if username.profile.tg_url or username.profile.youtube_url %}
                    <div class="social">
                        {% if username.profile.tg_url %}
                            <a class="bi bi-telegram" href="{{ username.profile.tg_url }}"></a>
                        {% endif %}
                        {% if username.profile.youtube_url %}
                            <a class="bi bi-youtube" href="{{ username.profile.youtube_url }}"></a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            {% if username.username == user.username %}
                <form action="{% url 'users:edit_profile' %}">
                    <button class="btn btn-warning btn-sm edit_profile">Edit profile</button>
                </form>
            {% endif %}
        </div>
        <div class="right_block">
            {% if username.profile.bio %}
                <div class="info_block">
                    <div class="for_bg">
                        <div class="info">
                            <div class="bio">
                                {% if username.profile.bio %}
                                    <span class="text"><b>A few details about myself</b></span>
                                    {{ username.profile.bio }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="for_bg">
                    <div class="info_block" style="text-align: center;">Nothing found...</div>
                </div>
            {% endif %}
            {% if posts %}
                {% for post in posts %}
                    <div class="info_block">
                        <div class="for_bg">
                            <a class="title" href="{% url 'posts:post_detail' post.pk %}" class="detail_link">
                                <h4>
                                    <b>{{ post.title }}</b>
                                </h4>
                            </a>
                            <div class="description">{{ post.description }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
