.photo {
    position: relative;
    overflow:hidden;
    margin: auto;
    width:190px;
    height:190px;
}
.photo img {
    position: absolute;
    width:190px;
    height:190px;
    object-fit:cover;
    border-radius: 50%;
    border: 3px solid #ebdbb2;
}

.line {
    border-top: 1px solid #665c54;
    margin: 0 auto 10px auto;
}

.form-control, .form-control-file {
    border: none;
    background-color: #665c54;
    color: #ebdbb2;
    opacity: 0.6;
    border-radius: 0.25rem;
}


.textarea:focus, input[type=text]:focus {
    background-color: #928374;
    color: #fbf1c7;
}
input[type=text] {
    background-color: #665c54;
    color: #ebdbb2;
}

input[type=file]::file-selector-button {
    border: none;
    border-right: 1px solid #928374;
    background-color: #665c54;
    color: #ebdbb2;
    cursor: pointer;
    border-radius: .25rem;
}
