.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left_block {
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    background: #3c3836;
    height: fit-content;
}

.photo {
    position: relative;
    overflow:hidden;
    margin: auto;
    width:230px;
    height:230px;
}
.photo img {
    position: absolute;
    width:230px;
    height:230px;
    object-fit:cover;
    border-radius: 50%;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 3px auto 0 auto;
    border-radius: 10px;
}

.info_block {
    margin: 0 0 10px 0;
    min-width: 530px;
    height: fit-content;
}

.text {
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    gap: 15px;
}

.username {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px 30px;
}

.line {
    border-top: 1px solid #ebdbb2;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #ebdbb2;
}
a:hover {
    color: #d5c4a1;
}
