.textarea:focus, input[type=text]:focus {
    background-color: #928374;
    color: #fbf1c7;
    border: none;
}
.textarea, input[type=text] {
    background-color: #665c54;
    color: #ebdbb2;
    border: none;
}

input[type=file]::file-selector-button {
    border: none;
    border-right: 1px solid #928374;
    background-color: #665c54;
    color: #ebdbb2;
    cursor: pointer;
}
