.title h3 {
    margin: 5px 0px 0px 0px;
}

.for_bg {
    margin-bottom: 10px;
}

p {margin: 0;}

.image {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #665c54;
    border-radius: 10px;
    max-width: 100%;
    margin-bottom: 10px;
}

.line {
    border: 1px solid #ebdbb2;
    border-radius: 100%;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #ebdbb2;
}
a:hover {
    color: #d5c4a1;
}

.toolbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.like, .comments {
    display: inline-block;
}
.like a, .comments a {
    background-color: #665c54;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3px;
    padding: 0 5px 0 5px;
}

.com_profile_image {
    width: 30px;
    height: 30px;
}
.com_profile_image img {
    width: 30px;
    height: 30px;
}

.com_author_name {
    font-size: 16px;
    color: #a89984;
    display: flex;
    align-content: center;
}

.com_for_bg {
    padding-bottom: 0;
    margin-bottom: 0;
}

.date {
    display: flex;
    align-items: center;
}

.dot {margin:0 3px 0 3px}

.comments {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 3px;
}

.comment_body {
    flex: 3 0px;
}
