.author {
    display: flex;
    align-items: center;
    background-color: #665c54;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 180px;
}

.profile_image {
    position: relative;
    overflow:hidden;
    width: 40px;
    height: 40px;
    margin-right: 7px;
}
.profile_image img {
    position: absolute;
    width: 40px;
    height: 40px;
    object-fit:cover;
    border-radius: 50%;
}

.author_info {
    display: flex;
    flex-direction: column;
}

.author_name {
    font-size: 18px;
    color: #a89984;
}

.date {
    font-size: 12px;
    color: #a89984;
    cursor: default;
}

.for_bg { margin-bottom: 10px; }

.image {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #665c54;
    border-radius: 10px;
    max-width: 100%;
    margin-bottom: 10px;
}

.redact {
    display: flex;
    justify-content: space-between;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #ebdbb2;
}
a:hover {
    color: #d5c4a1;
}
