.com_profile_image {
    width: 30px;
    height: 30px;
}
.com_profile_image img {
    width: 30px;
    height: 30px;
}

.com_author_name {
    font-size: 16px;
    color: #a89984;
    display: flex;
    align-content: center;
}

.date {
    display: flex;
    align-items: center;
}

.dot {margin:0 3px 0 3px}

.for_bg { margin-bottom: 10px; }

.image {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #665c54;
    border-radius: 10px;
    max-width: 100%;
    margin-bottom: 10px;
}

.like {
    display: inline-block;
    margin-bottom: 10px;
}
.like a {
    background-color: #665c54;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3px;
    padding: 0 5px 0 5px;
}

.comments {
    width: 90%;
    margin: 0 auto 10px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.comment_body {
    flex: 3 0px;
}

.trash {
    float: right;
}

.text, .redact, .posting-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#div_id_body {margin: 0;}
.input { flex-grow: 3; }
.posting-comment {
    display: flex;
    column-gap: 10px;
}

.textarea:focus, input[type=text]:focus {
    background-color: #7c6f64;
    color: #ebdbb2;
    border: none;
}
.textarea, input[type=text] {
    background-color: #7c6f64;
    color: #ebdbb2;
    border: none;
    resize: none;
}

.line {
    border-top: 1px solid #ebdbb2;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #ebdbb2;
}
a:hover {
    color: #d5c4a1;
}
