{% extends 'base.html' %}
{% load static %}
{% block content %}
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet"
                  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                  crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                    crossorigin="anonymous"></script>
            <link rel="stylesheet" href="{% static 'css/posts_css/post.css' %}" />
            <title>Post Page</title>
        </head>
        <body>
            <div class="all_posts">
                {% for post in posts %}
                    <div class="post">
                        <div class="author">
                            <a href="{% url 'user_profile' post.author.username %}">{{ post.author }}</a>
                        </div>
                        <div class="title">
                            <a href="#" class="detail_link"><h4><b>{{ post.title }}</b></h4></a>
                        </div>
                        <div class="line"></div>
                        <div class="description">
                            <p>{{ post.description }}</p>
                        </div>
                    {% if post.image %}
                        <div class="image">
                            <img src="{{ post.image.url }}" />
                        </div>
                    {% endif %}
                        <div class="date">{{ post.date }}</div>
                    </div>
                {% endfor %}
            </div>
        </body>
    </html>
{% endblock content %}
