{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/posts_css/post_detail.css' %}" />
    <title>Post Detail Page</title>
{% endblock head %}
{% block content %}
    <div class="info_block">
        <div class="author">
            <div class="profile_image">
                <a href="{% url 'users:user_profile' post.author.username %}"><img src="{{ post.author.profile.image.url }}"></a>
            </div>
            <div class="author_info">
                <div class="author_name">
                    <a href="{% url 'users:user_profile' post.author.username %}"><span>{{ post.author }}</span></a>
                </div>
                <div class="date"><span>{{ post.date }}</span></div>
            </div>
        </div>
        <div class="for_bg">
            <div class="title">
                <h4>
                    <b>{{ post.title }}</b>
                </h4>
            </div>
            <div class="description">{{ post.description }}</div>
        </div>
        {% if post.image %}
            <div class="image">
                <img src="{{ post.image.url }}" />
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <div class="toolbar">
                <div class="like">
                    <a href="{% url 'posts:like' post.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-emoji-heart-eyes" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z"/>
                        </svg>
                        <div class="like_counter">{{ post.likes }}</div>
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="for_bg">
            <div class="write_comment">
                {% if comments %}
                    {% for comment in comments %}
                        <div class="comments">
                            <div class="profile_image com_profile_image">
                                <a href="{% url 'users:user_profile' comment.author.username %}"><img src="{{ comment.author.profile.image.url }}"></a>
                            </div>
                            <div class="comment_body">
                                <div class="author_name com_author_name">
                                    <a href="{% url 'users:user_profile' comment.author.username %}"><span>{{ comment.author }}</span></a>
                                    <span class="dot">•</span>
                                    <div class="date">{{ comment.date }}</div>
                                </div>
                                <div class="text_comment">
                                    {{ comment.body }}
                                </div>
                            </div>
                            {% if comment.author.profile.user.id == user.id or user.is_staff %}
                                <div class="trash">
                                    <form method="post" action="{% url 'posts:delete_comment' comment.id %}">
                                        {% csrf_token %}
                                        <a href="{% url 'posts:delete_comment' comment.id %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                        </a>
                                    </form>
                                </div>
                            {% endif %}
                            <br>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="posting-comment">
                            <div class="input">
                                <textarea name="body" cols="40" rows="1" class="form-control textarea" required="" id="id_body"></textarea>
                            </div>
                            <div class="submit">
                                <button class="btn btn-outline-warning btn-sm">
                                    Enter
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% if post.author.profile.user.username == user.username or user.is_staff %}
        <div class="info_block redact">
            <form action="{% url 'posts:update_post' post.pk %}">
                <button class="btn btn-warning redact">Redact</button>
            </form>
            <form action="{% url 'posts:post_delete' post.pk %}">
                <button class="btn btn-danger delete">Delete</button>
            </form>
        </div>
    {% endif %}
{% endblock content %}
